
{% extends "layout-footer.html" %}

{% block pageTitle %}
  Flood risk information for planning - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}

  <div class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Accessibility statement for Flood map for planning
        </h1>

        <p class="govuk-body">
          This service is run by the Environment Agency. We want as many people as possible to be able to use this website. For example, that means you should be able to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>
              change colours, contrast levels and fonts
            </li>
            <li>
              zoom in up to 200% without the text spilling off the screen
            </li>
            <li>
              navigate most of the website using just a keyboard
            </li>
            <li>
              navigate most of the website using speech recognition software
            </li>
            <li>
              listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)
            </li>
        </ul>

        <p class="govuk-body">
          We have also made the website text as simple as possible to understand.
        </p>

        <p class="govuk-body">
          <a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.
        </p>

        <h2 class="govuk-heading-l">
          Feedback and contact information
        </h2>

        <p class="govuk-body">
          If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille.
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>
              email: <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
            </li>
            <li>
              call <a href="tel:03708506506">03708 506 506</a> (Monday to Friday, 8am to 6pm)
            </li>
        </ul>

        <p class="govuk-body">
          We are always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact at us using the same contact details.
        </p>

        <h2 class="govuk-heading-l">
          Enforcement procedure
        </h2>

        <p class="govuk-body">
          The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service (EASS)</a>.
        </p>

        <h2 class="govuk-heading-l">
          How accessible this website is
        </h2>

        <p class="govuk-body">
          We have tried to give all users with access needs the ability to complete the process of requesting flood information for a planning application using this service. However we know that some parts of this website are not fully accessible.
        </p>

        <h3 class="govuk-heading-m">
          Compliance status
        </h3>

        <p class="govuk-body">
          This service is partially compliant with the Web Content Accessibility Guidelines version 2.1 AA standard, due to the non-compliances listed.
        <p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            the automatically generated PDF reports produced by the service are currently not accessible using assistive technologies such as screen readers
          </li>
        </ul>

        <h3 class="govuk-heading-m">
          Content that’s not within the scope of the accessibility regulations
        </h3>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            the maps and the tools used for confirming an accurate location
          </li>
          <li>
            third party content which is out of our control, for example a corporate logo on the map the website uses
          </li>
        </ul>

        <h2 class="govuk-heading-l">
          Contact us
        </h2>

        <p class="govuk-body">
          You can contact us by:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            email: <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
          </li>
          <li>
            Twitter: <a href="https://www.twitter.com/envagency">twitter.com/envagency</a>
          </li>
          <li>
            Facebook: <a href="https://www.facebook.com/environmentagency">facebook.com/environmentagency</a>
          </li>
        </ul>

      </div>

      <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        {# <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="https://flood-warning-information.service.gov.uk/warnings">
                  Check your immediate flood risk
                </a>
              </li>
              <li>
                <a class="govuk-link" href="https://flood-warning-information.service.gov.uk/5-day-flood-risk?_ga=2.203237463.77474540.1572345023-902236253.1554453719&_gac=1.158934600.1570532269.CjwKCAjw5_DsBRBPEiwAIEDRW7EfP37Wg2AzLlBkZNTpdinb3-amc1875cjdwiLaU-qXZCN8vsz9VhoC2QUQAvD_BwE">
                  Check your flood risk for the next 5 days
                </a>
              </li>
              <li>
                <a href="https://flood-warning-information.service.gov.uk/long-term-flood-risk?_ga=2.127667275.77474540.1572345023-902236253.1554453719&_gac=1.124390008.1570532269.CjwKCAjw5_DsBRBPEiwAIEDRW7EfP37Wg2AzLlBkZNTpdinb3-amc1875cjdwiLaU-qXZCN8vsz9VhoC2QUQAvD_BwE" class="govuk-link govuk-!-font-weight-bold">
                  Check your long-term flood risk
                </a>
              </li>
              <li><a href="https://www.planningportal.co.uk/" class="govuk-link govuk-!-font-weight-bold">Planning portal </a></li>
            </ul>
          </nav>
        </aside> #}

      </div>
    </div>
  </div>
</div>

{% endblock %}
