
{% extends "layout-footer.html" %}

{% block pageTitle %}
  This service is for England only - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
      text: 'Back',
      href: 'start'
  }) }}

  <div class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          This service is for locations in England only
        </h1>

        <p class="govuk-body">
          Find <a class="govuk-link" href="https://naturalresources.wales/evidence-and-data/maps/long-term-flood-risk/?lang=en">flood information for Wales</a>.
        </p>

        <p class="govuk-body">
          Find <a class="govuk-link" href="https://www.sepa.org.uk/environment/water/flooding/flood-maps/">flood information for Scotland</a>.
        </p>

        <p class="govuk-body">
          Find <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/check-the-risk-of-flooding-in-your-area">flood information for Northern Ireland</a>.
        </p>

        <p class="govuk-body">
          In England you can <a class="govuk-link" href="/">get flood information for planning</a>.
        </p>

      </div>

    </div>

  </div>

</div>

{% endblock %}
