//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


.govuk-back-link {
  position: relative;
  top: -30px;
  @media (min-width:769px) {
    top: -50px;
  }
}

.current-version {
  text-transform: uppercase;
}


.govuk-grid-column-one-half #map {
  margin-bottom: 0;
  position: relative;
  height: 400px;
  padding-bottom: 48px;
  border: 1px solid #b1b4b6;

  @media (max-width:400px) {
    margin-top: 0;
  }

  .ol-viewport {
    height: calc(100% - 24px) !important;

    @media (max-width:400px) {
      height: calc(100% - 110px) !important;
    }
  }
}



#map.map--legacy {
  background-color: #fff;
  height: 500px;
}

#map.map--justboundary {
  width: 100%;

  figure {
    border: 1px solid #ccc;
  }
}

.map-figure--justboundary {

  border: 1px solid #ccc;

  #map {
    width: 100%;
    height: 600px;
  }

  .ol-viewport {
    height: calc(100% - 72px) !important;
  }
}

.map-figure--error {
  box-shadow:  -12px 0 #fff, -20px 0 #d4351c;

  p.govuk-error-message {
    margin: 10px;
    margin-bottom: 0;
  }
}

.ol-full-screen {
  button, button.ol-full-screen-false {
    background-color: #fff;
    color: #626a6e !important;
    font-family: "GDS Transport", arial, sans-serif;
    font-size: 14px !important;
    font-weight: normal !important;
    height: auto;
    line-height: 1;
    padding: 0.4em;
    width: auto !important;
  }
}

.mapToolBtn {
  font-family: "GDS Transport", Arial, sans-serif;
  border: 0;
  padding: 8px 10px 7px;
  background: #1d70b8;
  color: #fff;
  position: absolute;
  top: 1rem;
  z-index: 9999;
  font-size: 1rem;
}
.mapToolBtn.active {
  background: #fd0;
  color: #000;
}

#drawShapeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 9999;
  font-size: 1rem;
}

#markerBtn {
  right: 6rem;
}

.govuk-form-group.markerRadiosContainer {
  margin-bottom: 0;
  padding: 1rem .5rem .5rem .75rem;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}

.blue-inset {
  border-color: #5694ca;
  background-color: #eef4fa;
}


// Map control overwrites
// govuk-colour("dark-grey")	#626a6e
// govuk-colour("mid-grey")	#b1b4b6

.ol-control {
  background-color: rgba(98,106,110,.5) !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

.ol-control button {
  color: #626a6e !important;
  background-color: rgba(255,255,255,1) !important;
  font-size: 1.5em !important;
}


.govuk-radios--small .govuk-radios__label {
    margin-top: -2px;
    padding: 13px 10px 13px 1px;
    float: left;
    font-size: 1rem;
    line-height: 1.25;
}
.govuk-radios--small .govuk-radios__item {
    min-height: 0;
    margin-bottom: 0;
    margin-right: 4px;
    padding-left: 30px;
    float: left;
}
.govuk-radios--small .govuk-radios__input {
    left: -10px;
}
.govuk-radios--small .govuk-radios__label::before {
    top: 8px;
    width: 24px;
    height: 24px;
}
.govuk-radios--small .govuk-radios__item:after {
    content: "";
    display: block;
    clear: both;
}

.govuk-form-group.markerRadiosContainer .govuk-radios--small {
  display: inline-block;
}

.govuk-form-group.markerRadiosContainer button {
  display: inline-block;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 10px;
}

.results-map-static {
  max-width: 960px;
}


/* STYLES FOR CUSTOM DETAILS COMPONENT */

.map-toggle {
  display: block;
  position: relative;
  font-size: 1.25rem;
  margin-bottom: 30px;
  padding-left: 1.5rem;
}
.map-toggle:before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: 0;
  left: 0;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  border-width: 7px 0 7px 12.124px;
  border-left-color: inherit;
}
.map-toggle.active {
  margin-bottom: 10px;
}
.map-toggle.active:before {
  display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
      clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
      border-width: 12.124px 7px 0 7px;
      border-top-color: inherit;
}
.map-container {
  opacity: 0;
  height: 1px;
  overflow: hidden;
}
.map-toggle.active + .map-container {
  opacity: 1;
  height: auto;
  margin-bottom: 20px;
}

//New stuff by Anthony

.markerRadiosContainer {
  background-color: #fff;
}

.map {
  background-color: #f5f5f5;
  position: relative;
}

.map-figure,
.map-figcaption {
  margin: 0;

  .map {
    height: 540px;
    width: calc(100% - 2px);
  }

}

.os-credits {
  &__logo {
    bottom: -35px;
    left: 6px;
    position: absolute;
    z-index: 999;
    img {
      width: 100px;
    }
  }
  &__text {
    background-color: rgba(255,255,255,0.75);
    bottom: 0;
    font-size: 10px !important;
    padding: 3px 6px;
    position: absolute;
    right: 0;
    text-align: right;
    z-index: 999;
  }
  &__link {
    text-decoration: none;
  }
}

.map--result {
  border: 1px solid #b1b4b6;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  @media (min-width:500px) {

    flex-flow: row nowrap;

  }
}

.map-legend {
  background: #fff;

  padding: 0 20px;
  order: 2;
  z-index: 1;

  @media (min-width:500px) {
    height: 100%;
    width: 170px;
  }

  &-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    @media (min-width:500px) {
      flex-flow: column nowrap;
    }
  }

  &-item {
    line-height: 1.1;
    margin-bottom: 1.5em;
    width: 50%;

    @media (min-width:400px) {
      width: 30%;
    }

    @media (min-width:500px) {
      width: auto;
    }

  }

  &-image {
    display: block;
    margin-bottom: 3px;
    width: 60px;

    &--block {

    }

    &--tall {
      max-height: 30px;
      width: auto;
    }

    &--border {
      border: 2px solid #333;
    }

  }
}

.pdf-download {
  text-align: right;
}


.summary-image {
  max-width: 80%;
  @media (min-width:641px) {
    max-width: 100%;
  }
}



body.modal-open {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

.dialog-holder {
  border: 2px solid #000;
  &:focus {
    outline: 3px solid #ffdd00;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px;
  }
}

.dialog {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  overflow: scroll;
  padding: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 999999;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -.25em;
    vertical-align: middle;
  }

  &.is-visible {
    display: block;
  }

  &-holder {
    background-color: #fff;
    display: inline-block;
    margin: auto;
    max-width: 530px;
    padding: 1.5em 2em;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 80%;

    @media (max-width:400px) {
      padding: 1em;
    }

  }

  &-close {
    display: block;
    margin: auto;
    padding: 4px 4px;
    position: absolute;
    top: 5px;
    right: 5px;
    width: auto;
  }
}

.govuk-hint--block {
  display: block;
}
