<h2 class="govuk-heading-l">Past floods</h2>
<h3 class="govuk-heading-m">What the recorded flood outlines dataset is  </h3>

<p>The recorded flood outlines are a geographical information system (GIS) data layer that show our verified records of areas that have flooded in the past from:  </p>

<ul class="govuk-list govuk-list--bullet">
    <li>rivers</li>
    <li>the sea</li>
    <li>groundwater</li>
    <li>surface water</li>
</ul>

<p>The complete recorded flood outlines dataset includes data quality flags for outlines recorded after April 2020. This indicates the confidence we have in an outline.  </p>

<p><a href="#">Download the complete recorded flood outlines dataset </a> </p>
<h3 class="govuk-heading-m">Past floods information included here</h3>

<p>The recorded flood events included in this document are for areas of land local to your site location that have been flooded by any of these sources:  </p>

<ul class="govuk-list govuk-list--bullet">
    <li>ephemeral water  </li>
    <li>main rivers  </li>
    <li>ordinary watercourses</li>
    <li>the sea</li>
</ul>

<h3 class="govuk-heading-m">Definitions</h3>

<p>Ephemeral rivers and streams are temporary rivers that are caused by rainfall or melted snow.  </p>

<p>A main river is usually a large river or stream. The Environment Agency designate and maintain them to manage flood risk.</p>

<p>An ordinary watercourse is a watercourse that is not part of a main river. This includes rivers, streams, ditches, cuts, culverts and dikes.</p>

<h3 class="govuk-heading-m">Data limitations</h3>

<p>We may not have records of flooding in all areas. This does not mean that the area has not flooded.</p>

<p>Records began in 1946. We have limited details about flooding incidents before this.</p>

<p>The outlines show flooding to land, not individual properties. This means that some properties in the area might not have been affected by flooding.</p>

<p>It is also possible that the pattern of flooding in this area has changed. This may mean that the area could flood under different circumstances, or it might be less likely to. </p>

<p>The outlines do not include flooding from:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>drainage where rainfall has led to surface water ponding or overland runoff  </li>
    <li>artificial, water-bearing sewer, water supply and wastewater treatment pipelines</li>
</ul>


<h3 class="govuk-heading-m">Get flood information from other organisations </h3>

<p>Contact Somerset County Council Lead local authority (LLFA) and Somerset Drainage board to get information about past flooding caused by surface water or drainage systems. </p>

<h3 class="govuk-heading-m">Changes to flood defences </h3>

<p>The outlines factor in any flood defences, structures and other infrastructure that were in place when it flooded. But the flood defences may have been overtopped, breached or were blocked.  </p>

<p>The defences (also known as assets) that were in place may also have changed. For example, assets may have been built more recently than the last recorded flood outline.  </p>
</div>

<div class="pdf-container-landscape"> 
<h4 class="govuk-heading-s">Figure 1. Past flood outlines near easting and northing: 349787/312275 </h4>
