
<div class="pdf-container-landscape"> 
<h3 class="govuk-heading-s">
  Figure 1. Defended modelled fluvial flood extents from Ravensbourne, 2015 model for 0.1%, 0.5% and 1% annual exceedance
  probabilities (AEPs)
</h3>
<img src="/public/images/0.1-0.5-1AEP.png" alt="Map of AEPs 0.1, 1, 0.5 and 5 percent" style="max-width: 100%;">
</div>
<div class="pdf-container-landscape"> 
  <h3 class="govuk-heading-s">
    Figure 2. Defended modelled fluvial flood extents from Ravensbourne, 2015 model for 1.3%, 2% and 3.3% annual exceedance probabilities (AEPs)
  </h3>
<img src="/public/images/1.3-2-3.3AEP.png" alt="Nodemap" style="max-width: 100%">
</div>
<div class="pdf-container-landscape"> 
  <h3 class="govuk-heading-s">
    Figure 3. Defended modelled fluvial flood extents from Ravensbourne, 2015 model for 5%, 10% and 20% annual exceedance probabilities (AEPs)
  </h3>
<img src="/public/images/5-10-20AEP.png" alt="Nodemap" style="max-width: 100%">
</div>