
<h2 class="govuk-heading-m" style="padding-top: 3em;">
    Modelled data 
  </h2>
  
  <p>
    This section provides details of different scenarios we have modelled and includes the following (where available): 
  </p>
  
  
  <ul class="govuk-list govuk-list--bullet">
    <li>outline maps showing the area at risk from flooding in different modelled scenarios</li>
    <li>modelled node point map(s) showing the points used to get the data to model the scenarios and table(s) providing details of the flood risk for different return periods</li>
    <li>maps and tables showing the modelled flood levels and flows for a number of annual exceedance probabilities from rivers and the sea in any given year.</li>
  </ul>
  
  <h2 class="govuk-heading-m">
    Climate change 
  </h2>
  
  <p>
    The climate change data included in the models may not include the latest flood risk assessment climate change allowances. Where the new allowances are not available you will need to consider this data and factor in the new allowances to demonstrate the development will be safe from flooding. 
  </p>
  
  <p>
    The Environment Agency will incorporate the new allowances into future modelling studies. 
  </p>
  
  <p>For now, it's your responsibility to demonstrate that new developments will be safe in flood risk terms for their lifetime. </p>
  
  <h2 class="govuk-heading-m">
    Modelled scenarios 
  </h2>
  
  <p>
    The model name and year it was produced for each scenario is given in each map and table title.  The scenarios are: 
  </p>
  
  
  <ul class="govuk-list govuk-list--bullet">
    <li>defended modelled fluvial: risk of flooding from rivers where there are flood defences</li> 
  
    <li>defences removed modelled fluvial: risk of flooding from rivers where flood defences have been removed</li> 
    
    <li>no defences exist modelled fluvial: risk of flooding from rivers where there are no flood defences</li> 
    
    <li>defended climate change modelled fluvial: risk of flooding from rivers where there are flood defences, including estimated impact of climate change</li> 
    
    <li>defences removed climate change modelled fluvial: risk of flooding from rivers where flood defences have been removed, including estimated impact of climate change</li> 
    
    <li>no defences exist climate change modelled fluvial: risk of flooding from rivers where there are no flood defences, including estimated impact of climate change</li> 
  
  </ul>
</div>