
{% extends "layout_p4.html" %}
{% block pageTitle %}
  Flood risk information
{% endblock %}


{% block content %}

{% include "includes/recordedflood/content.html" %}

{% if data.recorded_flood=="option3" %}
{% include "includes/recordedflood/blackoutline.html" %}
{% endif %}

{% if data.recorded_flood=="option2" %}
{% include "includes/recordedflood/blueoutline.html" %}
{% endif %}

{% if data.recorded_flood=="option1" %}
{% include "includes/recordedflood/redoutline.html" %}
{% endif %}

<div class="pdf-container-landscape"> 
  <h3 class="govuk-heading-s">
    Table 1. Past flood events in the area near to easting and northing: 349787/312275
  </h3>
<img src="/public/images/historic_table.png" alt="Table2" style="max-width: 100%;">

{% endblock %}
