{% extends "layout-footer.html" %}

{% block pageTitle %}
  Confirm location - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}


  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Draw the boundary of your site
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">
        Your search for 'WA4 1HT' has been placed in Warrington, North West, England.
      </p>

      <p class="govuk-body">
        To make sure we provide you with accurate information you need to draw the boundary of your site on the map below.
      </p>

      <details class="govuk-details govuk-!-margin-top-4" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Instructions on how to draw a boundary
          </span>
        </summary>
        <div class="govuk-details__text">
          <ol class="govuk-list govuk-list--number">
            <li>Click or tap to place the first point of your boudary</li>
            <li>Place a second point on the boundary - you should see a line drawn between the points </li>
            <li>Keep adding points until the boundary of your site is fully defined</li>
            <li>When you have fully drawn your boundary double click or tap to mark your final point</li>
            <li>You can adjust the finished boundary by clicking and dragging the points</li>
            <li>You can add more points to a boundary by clicking or tapping on a line</li>
            <li>You can delete your drawn boundary and start again by clicking the 'Delete boundary' button</li>
          </ol>
        </div>
      </details>

    </div>

    <div class="govuk-grid-column-full">

      <figure class="map-figure map-figure--justboundary" role="application">

        <figcaption class="map-figcaption govuk-visually-hidden">
          An interactive map tool to allow you to accurately locate the site you require
        </figcaption>

        <div id="map" class="map map--confirm map--justboundary">

          <noscript>
            <h2 class="govuk-heading-m">
              The interactive map part of this service needs JavaScript to function
            </h2>
            <p class="govuk-body">
              It is still possible for you to use the service but without the map it might be difficult to supply an accurate location. This could mean that your request is delayed.
            </p>
            <p class="govuk-body">
              If you can, please enable JavaScript to allow the service to work to it's full potential.
            </p>
            <p class="govuk-body">
              If this is something that you are unable to do it, it might be best to contact the Envirnoment Agency by telephone: <tel>03708 506 506</tel> (Monday to Friday, 8am to 6pm) to help you.
            </p>
          </noscript>

          <div class="os-credits">
            <div class="os-credits__logo">
              <img src="/public/images/os-logo.png" alt="Ordanance Survey logo">
            </div>
            <div class="os-credits__text">
              <a href="os-terms" class="os-credits__link">
                OS data &copy; Crown copyright and database rights 2021
              </a>
            </div>
          </div>

          <div class="govuk-form-group markerRadiosContainer">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                <div class="govuk-radios govuk-radios--inline govuk-radios--small">

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="draw-shape" name="marker-or-shape" type="radio" value="draw-shape">
                    <label class="govuk-label govuk-radios__label govuk-!-font-size-16" for="draw-shape">
                      Draw boundary
                    </label>
                  </div>
                </div>
                <button disabled class="govuk-button govuk-button--secondary" data-module="govuk-button" name="delete-shape" value="delete-shape" id="deleteShapeBtn">
                  Delete boundary
                </button>
              </fieldset>
            </div>
          </div>

        </div>

      </figure>

    </div>

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-warning-text govuk-!-margin-top-7">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Check your entire site is outlined before continuing.
        </strong>
      </div>

      <a id="continue-button" href="{{ data['results'] }}" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
        Continue
      </a>

      <h2 class="govuk-heading-m">
        If you need help drawing a boundary
      </h2>

      <p class="govuk-body">
        Contact the Environment Agency team in Greater Manchester, Merseyside and Cheshire at <a href="mailto:Inforequests.GMMC@environment-agency.gov.uk" class="govuk-link">Inforequests.GMMC@environment-agency.gov.uk</a>.
      </p>

      <p class="govuk-body">
        Or contact the Environment Agency:
      </p>

      <p class="govuk-body">Environment Agency<br>
        Telephone: 03708 506 506 <br>
        Monday to Friday, 8am to 6pm <br>
        <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
      </p>

    </div>

  </div>


</div>

{% endblock %}
