{% extends "layout-footer.html" %}

{% block pageTitle %}
  Your results explained - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Flood zones explained
      </h1>

      <p class="govuk-body">
        Flood zones are based on how likely it is that a location will flood from rivers and the sea.
      </p>

      <h2 class="govuk-heading-m">
        Flood zone 1
      </h2>

      <p class="govuk-body">
        Locations have a low probability of flooding, some locations will need a flood risk assessment. Find out <a href="https://www.gov.uk/guidance/flood-risk-assessment-for-planning-applications?_ga=2.259503306.1978570411.1573555009-902236253.1554453719&_gac=1.182218197.1570532269.CjwKCAjw5_DsBRBPEiwAIEDRW7EfP37Wg2AzLlBkZNTpdinb3-amc1875cjdwiLaU-qXZCN8vsz9VhoC2QUQAvD_BwE#when-you-need-an-assessment">when you need a flood risk assessment for development in flood zone 1</a>.
      </p>

      <h2 class="govuk-heading-m">
        Flood zone 2
      </h2>

      <p class="govuk-body">
        Locations have a medium probability of flooding. Developments will need a flood risk assessment.
      </p>

      <h2 class="govuk-heading-m">
        Flood zone 3
      </h2>

      <p class="govuk-body">
        Locations have a high probability of flooding. Developments will need a flood risk assessment.
      </p>
  <p class="govuk-body">
      Your selected location is in flood zone 3. It is also in an area that has some protection from flood defences.

      Flood defences reduce the probability of flooding from a specific source (a river or the sea), but do not completely remove the risk. They can fail or a flood that is bigger than the one the defence is designed to protect against could happen.

      Climate change will increase flood risk in future. This means the level of protection existing flood defences provide will reduce over time. The site may also be at risk from other sources of flooding.
  </p>
    </div>

  </div>

</div>

{% endblock %}
