{% extends "layout.html" %}

{% block pageTitle %}
Flood map for planning
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Flood zone risk for this location
        </h1>
    
<p>Flood zones are regional areas grouped by risk of flooding from rivers and sea. Flood zone 1 is low risk, Flood zone 2 is medium risk, and Flood zone 3 is high risk.
</p>
<p>All of the map is flood zone 1 unless marked as flood zone 2 or 3. 
</br><a class="govuk-link" href="/">Read more about flood zones in flood guidance</a>.</p>

<p><a class="govuk-link" href="/">Change location</a></p>

  </div>



   



</div>

{% endblock %}
