
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Application complete
          </h1>
          <div class="govuk-panel__body">
            Your reference number<br><strong>HDJ2 523F GH87</strong>
          </div>
        </div>

        <p class="govuk-body">We have sent a confirmation email to {EMAIL ADDRESS}.</p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p>We’re processing your request.</p>

        <p>We'll aim to send your flood risk data by email in 10 working days. During busy periods, this could take up to 20 working days.</p>
        <p>Depending on the data that's available, this information will include:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a flood zone map (flood map for planning)</li>
        <li>
          historic flood outlines
        </li>
        <li>
     relevant modelled flood levels and extents
        </li>
        <li>
        flood defence locations and attributes
        </li>
      </ul>

        <p>If you need a product 5, 6, 7 or 8 contact the East Anglia Environment Agency team at <a href="mailto:communications_EAN@environment-agency.gov.uk">communications_EAN@environment-agency.gov.uk</a>.</p>

        <h2 class="govuk-heading-m">Help and advice</h2>

        <p>For more advice around flood risk assessments and planning permission you could contact:</p>
       <ul class="govuk-list govuk-list--bullet">
          <li>speak to your local authority, <strong>Colchester Borough Council</strong></li>
          <li><a href="https://www.gov.uk/guidance/flood-risk-assessment-for-planning-applications#contact">contact the Environment Agency</a></li>
        </ul>


        <p><a href="results">Go back to your flood information</a></p>

      </div>
    </div>
  </main>
</div>

{% endblock %}
