{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}


  <div class="govuk-grid-row">




    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Confirm your location</h1>
    </div>

    <div class="govuk-grid-column-one-half">



      <!-- <p class="govuk-body govuk-!-font-weight-bold">It’s important you check that we have the right location for you. Otherwise your flood data may not be accurate.</p> -->

      <!-- <p class="govuk-body">Check the map below and move the marker to the correct location if it’s not in the right place.</p>

      <p class="govuk-body">For large developments, draw a shape on the map to mark out a site boundary.</p> -->


      <p>To get the most accurate results you must:</p>
      <ul class="govuk-list govuk-list--bullet">

      <li>check the marker is in the right place - if it isn’t move it to the right location <strong>or</strong></li>

      <li>draw a shape on the map if your development is large</li>
      </ul>

      <br>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How to draw a shape
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>select 'draw shape'</li>
            <li>select any point on the site boundary</li>
            <li>select a second point on the boundary - you should see a line drawn between the first two points </li>
            <li>keep adding points until the boundary is defined</li>
            <li>double click or tap when you mark your final point</li>
            <li>edit the finished shape by dragging the points</li>
            <li>add more points to a shape by clicking or tapping on a line</li>
          </ul>
        </div>
      </details>


      <!-- <span class="govuk-hint">
        Confirm that this is where you want to search
      </span> -->
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Is this the right location?
        </strong>
      </div>
      <a href="results" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
        Continue
      </a>

    </div>

    <div class="govuk-grid-column-one-half">

      <div id="map" class="map">
        <!-- <button class="mapToolBtn" id="drawShapeBtn">Draw shape</button> -->
        <!-- <button class="mapToolBtn" id="markerBtn">Marker</button> -->
        <div class="govuk-form-group markerCheckboxContainer">
          <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="shapeCheckbox" name="shapeCheckbox" type="checkbox" value="Draw shape">
                <label class="govuk-label govuk-checkboxes__label" for="shapeCheckbox">
                  Draw shape
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>


    </div>

  </div>

</div>

{% endblock %}
