
{% extends "layout.html" %}

{% block pageTitle %}
  Find out if you need a Flood Risk Assessment (FRA) and get flood maps for a planning application
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Choose your journey</h1>

        <p class="govuk-body">Choose the user journey you wish to review:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="start?results=results-fz1.html&confirmation=confirmation-fz1.html">Flood Zone 1 Results</a></li>
          <li><a href="start?results=results-fz3.html&confirmation=confirmation-fz3.html">Flood Zone 3 Results</a></li>
        </ul>

      </div>

    </div>

  </main>

</div>

{% endblock %}
