
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Guidance</h1>

        {# <p class="govuk-body">Use this service to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>do something</li>
          <li>update your name, address or other details</li>
          <li>do something else</li>
        </ul>

        <p class="govuk-body">Registering takes around 5 minutes.</p>

        

        <h2 class="govuk-heading-m">Before you start</h2> #}



        {# <p class="govuk-body">You cannot register for this service if you’re in the UK illegally.</p> #}
      
      </div>


    </div>
  </main>
</div>

{% endblock %}
