<div class="govuk-grid-column-one-quarter">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Key</h3>
    <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third"><img src="/public/images/test-2_8/selected-area.png" alt="Nodemap" style="max-width: 120%"></div>
    

    <div class="govuk-grid-column-two-thirds" style="vertical-align: centre; padding-top: 20px;"><p>Selected area</p></div>
  </div>

 
  

  <div class="govuk-grid-row" style="margin-top: 5px;">

  <div class="govuk-grid-column-one-third"><img src="/public/images/test-2_8/river.png" alt="Nodemap" style="max-width: 130%"></div>
    
    <div class="govuk-grid-column-two-thirds"><p>Main river</p></div>

  </div>

  <div class="govuk-grid-row" style="margin-top: 1px;">
    <div class="govuk-grid-column-one-third"><img src="/public/images/test-2_8/flood-defences.png" alt="Nodemap" style="max-width: 130%"></div>
   
    <div class="govuk-grid-column-two-thirds" style="vertical-align: centre; padding-top: 2px;"><p>Flood defences</p></div>
   
  </div>

  <div class="govuk-grid-row" style="margin-top: 1px;">
    <div class="govuk-grid-column-one-third govuk-!-padding-top-0 govuk-!-padding-bottom-0""><span style="margin-top: 2em;"><img src="/public/images/test-2_8/defended-areas.png" alt="Nodemap" style="max-width: 123%; padding-left: 2px"></span></div>
   
    <div class="govuk-grid-column-two-thirds" style="vertical-align: centre; padding-top: 2px;"><p>Defended areas</p></div>
   
  </div>

  <div class="govuk-grid-row" style="margin-top: 1px;">
    <div class="govuk-grid-column-one-third"><img src="/public/images/test-2_8/fz2.png" alt="Nodemap" style="max-width: 130%"></div>
   
    <div class="govuk-grid-column-two-thirds" style="vertical-align: centre; padding-top: 3px;"><p>Flood zone 2</p></div>
   
  </div>

  <div class="govuk-grid-row" style="margin-top: 1px;">
    <div class="govuk-grid-column-one-third"><img src="/public/images/test-2_8/fz3.png" alt="Nodemap" style="max-width: 130%"></div>
   
    <div class="govuk-grid-column-two-thirds" style="vertical-align: centre; padding-top: 3px;"><p>Flood zone 3</p></div>
   
  </div>

  {% if data['depthExtent'] === 'depth' %}

  <h4 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-2">Depths</h4>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third"><img src="/public/images/test-2_8/fz3.png" alt="Nodemap" style="max-width: 130%"></div>
   
    <div class="govuk-grid-column-two-thirds" style="vertical-align: centre;"><p>150mm</p></div>
   
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third"><img src="/public/images/test-2_8/fz3.png" alt="Nodemap" style="max-width: 130%"></div>
   
    <div class="govuk-grid-column-two-thirds" style="vertical-align: centre;"><p>150-300mm</p></div>
   
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third"><img src="/public/images/test-2_8/fz3.png" alt="Nodemap" style="max-width: 130%"></div>
   
    <div class="govuk-grid-column-two-thirds" style="vertical-align: centre;"><p>300-600mm</p></div>
   
  </div>
  <div class="govuk-grid-row"">
    <div class="govuk-grid-column-one-third"><img src="/public/images/test-2_8/fz3.png" alt="Nodemap" style="max-width: 130%"></div>
   
    <div class="govuk-grid-column-two-thirds" style="vertical-align: centre;"><p>600-900mm</p></div>
   
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third"><img src="/public/images/test-2_8/fz3.png" alt="Nodemap" style="max-width: 130%"></div>
   
    <div class="govuk-grid-column-two-thirds" style="vertical-align: centre;"><p>900-1200mm</p></div>
   
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third"><img src="/public/images/test-2_8/fz3.png" alt="Nodemap" style="max-width: 130%"></div>
   
    <div class="govuk-grid-column-two-thirds" style="vertical-align: centre;"><p>1200-2300mm</p></div>
   
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third"><img src="/public/images/test-2_8/fz3.png" alt="Nodemap" style="max-width: 130%"></div>
   
    <div class="govuk-grid-column-two-thirds" style="vertical-align: centre;"><p>>2300mm</p></div>
   
  </div>
 
  {% endif %}
  {% if data['swExtAEP'] === '33' %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third"><img src="/public/images/test-2_8/fz3.png" alt="Nodemap" style="max-width: 130%"></div>
   
    <div class="govuk-grid-column-two-thirds" style="vertical-align: centre;"><p>3.3% AEP</p></div>
   
  </div>
  {% endif %}

  {% if data['swExtAEP'] === '101' %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third"><img src="/public/images/test-2_8/fz3.png" alt="Nodemap" style="max-width: 130%"></div>
   
    <div class="govuk-grid-column-two-thirds" style="vertical-align: centre;"><p>1% and 0.1% AEP</p></div>
   
  </div>
  {% endif %}

</div>