
{% extends "layout.html" %}

{% block pageTitle %}
  Find out if you need a Flood Risk Assessment (FRA) and get flood maps for a planning application
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Choose your journey</h1>

        <p class="govuk-body">Choose the user journey you wish to review:</p>

        <p>
          <a href="start?results=results-fz1.html&confirmation=confirmation-fz1.html&summary=summary-fz1">Flood zone 1 results - opted <strong>IN</strong></a>
        </p>

        <p>
          <a href="start?results=results-fz1-no.html&confirmation=confirmation-fz1.html&summary=summary-fz1">Flood zone 1 results - opted <strong>OUT</strong></a>
        </p>

        <p>
          <a href="start?results=results-fz2.html&confirmation=confirmation-fz2.html&summary=summary-fz2">Flood zone 2 results - opted <strong>IN</strong></a>
        </p>

        <p>
          <a href="start?results=results-fz2-no.html&confirmation=confirmation-fz2.html&summary=summary-fz2">Flood zone 2 results - opted <strong>OUT</strong></a>
        </p>

        <p>
          <a href="start?results=results-fz3.html&confirmation=confirmation-fz3&summary=summary-fz3">Flood zone 3 results - opted <strong>IN</strong></a>
        </p>

        <p>
          <a href="start?results=results-fz3-no.html&confirmation=confirmation-fz3.html&summary=summary-fz3">Flood zone 3 results - opted <strong>OUT</strong></a>
        </p>

        <p>
          <a href="start?results=results-fzd.html&confirmation=confirmation-fzd.html&summary=summary-fzd">Flood zone benefitting from defences - opted <strong>IN</strong></a>
        </p>

      </div>

    </div>

  </main>

</div>

{% endblock %}
