
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">The area you have selected is in
        flood zone 3
        </h1>

        <p class="govuk-body">You must carry out a Flood Risk Assessment.</p>

        <p class="govuk-body">For some types of development you must follow the <a href="https://www.gov.uk/guidance/flood-risk-assessment-standing-advice?_ga=2.133969934.1437056672.1571914367-171810019.1565008735" class="govuk-link">Environment Agency's standing advice for carrying out Flood Risk Assessment</a>.</p>

        <p class="govuk-body">You can get your planning application flood maps on the next page or you can <a href="/location" class="govuk-link">refine your search</a>.</p>


      {# <ul class="govuk-list govuk-list--bullet">
          <li>has a high probability of flooding</li>
          <li>is in an area that benefits from flood defences</li>
        </ul> #}


        {# <p class="govuk-body">Land and property in this flood zone would have a high probability of flooding without the local
        flood defences. These protect the area against a river flood with a 1% chance of happening
        each year, or a flood from the sea with a 0.5% chance of happening each year.</p> #}

        

        {# <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with nationality
            </span>
          </summary>
          <div class="govuk-details__text">
            We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
          </div>
        </details> #}


        {# <h2 class="govuk-heading-m">Refine this search</h2> #}

        {# <p class="govuk-body">You can move the marker on the map to identify a specific location.
        Alternatively draw a shape to identify an approximate site boundary</p> #}

        
        {# <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
             How to draw a shape
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="list list-bullet">
              <li>Select 'Draw shape'</li>
              <li>Select any point on the site boundary</li>
              <li>Select a second point on the boundary. You should see a line drawn between the first two points</li>
              <li>Keep adding points until the boundary is defined</li>
              <li>Double click or tap when you return to your first point</li>
              <li>Edit the finished shape by dragging the points</li>
              <li>Add more points to a shape by clicking or tapping on a line</li>
          </ul>
          </div>
        </details> #}
        
        {# <p class="govuk-body"><a href="/location" class="govuk-link">Find another location</a></p> #}

        <img src="/public/images/map.png" class="govuk-image" alt="Examplem map">
        <p></br></p>

        {# <h2 class="govuk-heading-m">What happens next?</h2>

        <p class="govuk-body">You must carry out a flood risk assessment</p> 
        <ul class="govuk-list govuk-list--bullet">
          <li>Read the <a href="#" class="govuk-link">guidance on preparing a flood risk assessment</a> </li> 
          <li>Read more about <a href="#" class="govuk-link">flood risk assessments for planning applications</a></li> 
        </ul>

        <h3 class="govuk-heading-s">Get maps for this location</h3> #}
       
        {# <p class="govuk-body">Use these products of map information to help you complete your flood risk assessment</p> #}

        <a href="product" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
        Continue
        </a> 

      </div>


    </div>
  </main>
</div>

{% endblock %}
