{% extends "layout.html" %}

{% block pageTitle %}
Flood map for planning
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Flood map for planning
    </h1>

    <p>This prototype is a way of exploring ideas and is subject to change.</p>

    <p class="govuk-hint govuk-!-margin-bottom-0 current-version" style="padding-bottom: 1em;">
      Version that is actively being worked on
    </p>
    <h2 class="govuk-heading-l govuk-!-padding-top-0">
      AEP and Past floods design iteration for release 2.6
    </h2>
    
    <h3 class="govuk-heading-m">
      Design changes
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>No more than three historic flood areas in a recorded flood outline map</li>
      <li>Use of a mix of hatching and colour across three flood areas in historic flood</li>
      <li>Use of a mix of hatching and colour across up to three AEP areas</li>
      <li>Content update recomendations out of user testing</li>
    </ul>

    <p>
      <a href="v2/area" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">Choose Product 4 usability testing section</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l govuk-!-padding-top-0">
      Product 4 usability testing
    </h2>

    <p class="govuk-body">Product 4 usability testing for AEPs, Tidal (climate change), and past floods (recorded flood outlines)<p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version details
          </span>
        </summary>
        <div class="govuk-details__text">
    <h3 class="govuk-heading-m">
      Design changes
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>split testing three map changes for AEPs, all AEPs, 4 AEPs, or 2 AEPs across 2 maps</li>
      <li>content and table heading changes</li>
      <li>split testing three map colour changes for main rivers and selected areas in past floods/recorded flood outlines</li>
      <li>content and table changes in past floods/recorded flood outlines</li>
      <li>content and table changes in tidal/climate change</li>
    </ul>

    <p>
      <a href="v1/area" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">Choose Product 4 usability testing section</a>
    </p>

  </div>
</details>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l govuk-!-padding-top-0">
      Testing copy for Release 2.6
    </h2>

    <p class="govuk-body">
      A completely new way to handle the prototype. Lots of conditional content, less files and a new way of versioning.
    <p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version details
          </span>
        </summary>
        <div class="govuk-details__text">

    <h3 class="govuk-heading-m">
      Design changes
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        Changes to come
      </li>
    </ul>

    <p>
      <a href="test-2_6/choose" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">Choose your 2.6 journey</a>
    </p>
  </div>
</details>

    {# Size modifiers: xl, l, m #}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <p class="govuk-hint govuk-!-margin-bottom-0">
      February 2023
    </p>
    <h2 class="govuk-heading-l govuk-!-padding-top-0">
      Release 2.5
    </h2>

    <p class="govuk-body">
      This version concentrates on further optimising the results pages based UR sessions.
    <p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Version details
        </span>
      </summary>
      <div class="govuk-details__text">

        <h3 class="govuk-heading-m">
          Changes
        </h3>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            Refined content based on user feedback
          </li>
          <li>
            Attempted to better associate the download of the PDF with them map
          </li>
          <li>
            Moved the map information into a details component to remove some of the cognitive weight of the page
          </li>
          <li>
            Moving to specifically asking users to draw a boundary, removing the marker choice and tidying up associated pages of the journey. This will hopefully make for a smoother journey at both ends of the process, with less work for the business and less hassle for the user
          </li>
          <li>
            Removing references to the marker from pages, legends and ensuring journeys match up.
          </li>
          <li>
            Starting to test changes in FZ1 results to be more focussed on downloading a P1 report and being stronger on the fact that an FRA is only needed in certain circumstances.
          </li>
          <li>
            Moving the P1 Flood map for planning button to a more visible location and referencing it more specifically in the copy
          </li>
          <li>
            Rewriting all the Flood Zone results pages to make them more logical, to make next steps clearer, and to reflect the move of the P1 download button
          </li>
          <li>
            Adjustments to the design for 'Areas benefitting from defences' information due to changes in poilicy, including results, copy, map legend and more
          </li>
          <li>
            Added a Flood Zone 2 results pages as there has never been one in the prototype before.
          </li>
          <li>
            Updated the accessibility statement after issues were highligthed by the accessibility team.
          </li>
          <li>
            <a href="test-2_5/choose" class="govuk-link">Archive of the pages as they were tested for this version</a>.
          </li>
        </ul>

        <p>
          <a href="release-2_5/start?results=results-fz1.html&confirmation=confirmation-fz1.html&summary=summary-fz1">Go to Start page (flood zone 1 results)</a>
        </p>

        <p>
          <a href="release-2_5/start?results=results-fz2.html&confirmation=confirmation-fz2.html&summary=summary-fz2">Go to Start page (flood zone 2 results)</a>
        </p>

        <p>
          <a href="release-2_5/start?results=results-fz3.html&confirmation=confirmation-fz3&summary=summary-fz3">Go to Start page (flood zone 3 results)</a>
        </p>

        <p>
          <a href="release-2_5/start?results=results-fzd.html&confirmation=confirmation-fzd.html&summary=summary-fzd">Go to Start page (Benefitting from flood defences results)</a>
        </p>

      </div>
    </details>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <p class="govuk-hint govuk-!-margin-bottom-0">
      December 2022
    </p>
    <h2 class="govuk-heading-l govuk-!-padding-top-0">
      Release 2.4
    </h2>

    <p class="govuk-body">
      This is an attempt to capture how the service is after the 2.4 release. It's not a prototype, more of a resource to capture how the live was at 2.4
    <p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Version details
        </span>
      </summary>
      <div class="govuk-details__text">

        <h3 class="govuk-heading-m">
          Changes
        </h3>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            This release had stuff to deal with the changes in policy to areas benefitting from defences. With not all of the design work that will go in to 2.5, but enought to makle the pages work with the changes in the way map data was presented.
          </li>
          <li>
            It also has the move to just supplying aboundary which was released as part of that work.
          </li>
        </ul>

        <p>
          <a href="release-2_4/start?results=results-fz1.html&confirmation=confirmation-fz1.html&summary=summary-fz1">Go to Start page (flood zone 1 results)</a>
        </p>

        <p>
          <a href="release-2_4/start?results=results-fz2.html&confirmation=confirmation-fz2.html&summary=summary-fz2">Go to Start page (flood zone 2 results)</a>
        </p>

        <p>
          <a href="release-2_4/start?results=results-fz3.html&confirmation=confirmation-fz3&summary=summary-fz3">Go to Start page (flood zone 3 results)</a>
        </p>

        <p>
          <a href="release-2_4/start?results=results-fzd.html&confirmation=confirmation-fzd.html&summary=summary-fzd">Go to Start page (Benefitting from flood defences results)</a>
        </p>

      </div>
    </details>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">
      Opt out version
    </h2>

    <p class="govuk-body">
      Including changes that try to reduce the number of request being received post launch of the new service.
    <p>

    <!-- <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">

        </span>
      </summary>
      <div class="govuk-details__text">

      </div>
    </details> -->

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Version details
        </span>
      </summary>
      <div class="govuk-details__text">

        <h3 class="govuk-heading-m">
          Changes
        </h3>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            Added user journey for the new opt out of automatic reporting for regions.
          </li>
          <li>
            Added the information returned by OS Places API to make it clearer why the pin is located where it is - or why a location triggers the only England page.
          </li>
          <li>
            Added content changes on the flood zone 1 confirmation page to indicate that an additional email will be sent if the requested report is not available. Content in 'What happens next' subheading has also been restructured.
          </li>
          <li>
            Added bullet point to start page list stating that the service can be used to dowload a P1
          </li>
        </ul>

        <p>
          <strong>NEW:</strong> <a href="opt-out/start?results=results-fz1-no.html&confirmation=confirmation-fz1.html&summary=summary-fz1">Region opted out of automatic reporting. Go to Start page (flood zone 1 results)</a>
        </p>

        <p>
          <strong>NEW:</strong> <a href="opt-out/start?results=results-fz3-no.html&confirmation=confirmation-fz1.html&summary=summary-fz1">Region opted out of automatic reporting. Go to Start page (flood zone 3 results)</a>
        </p>

        <p>
          <a href="opt-out/start?results=results-fz1.html&confirmation=confirmation-fz1.html&summary=summary-fz1">Go to Start page (flood zone 1 results)</a>
        </p>

        <p>
          <a href="opt-out/start?results=results-fz3.html&confirmation=confirmation-fz3&summary=summary-fz3">Go to Start page (flood zone 3 results)</a>
        </p>

        <p>
          <a href="opt-out/start?results=results-fzd.html&confirmation=confirmation-fzd.html&summary=summary-fzd">Go to Start page (Benefitting from flood defences results)</a>
        </p>

      </div>
    </details>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <p class="govuk-hint govuk-!-margin-bottom-0">
      02/12/2021
    </p>
    <h2 class="govuk-heading-l govuk-!-padding-top-0">
      Iteration 9
    </h2>

    <p class="govuk-body">
      This iteration covered mostly tweaks to accessibilty and content as per audits and SME feedback.
    <p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version details
          </span>
        </summary>
        <div class="govuk-details__text">
          <h3 class="govuk-heading-m">
            Start
          </h3>

          <p><a href="version-9/start?results=results-fz1.html&confirmation=confirmation-fz1.html&summary=summary-fz1">Go to Start page (flood zone 1 results)</a></p>

          <p><a href="version-9/start?results=results-fz3.html&confirmation=confirmation-fz3&summary=summary-fz3">Go to Start page (flood zone 3 results)</a></p>

          <p><a href="version-9/start?results=results-fzd.html&confirmation=confirmation-fzd.html&summary=summary-fzd">Go to Start page (Benefitting from flood defences results)</a></p>
        </div>
      </details>

  </div>

  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Change log
    </h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Date</th>
          <th class="govuk-table__header" scope="col">Comments</th>
          <th class="govuk-table__header" scope="col" style="width:7em">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">16/09/2021</td>
          <td class="govuk-table__cell">Due to hold ups with the development of iteration 8 there are a few elements (especially around the modal for downloading the P1 pdf) that didn't make the final build. So there is a little bit of disparity between prototype and reality. However there were several changes like  accessibility improvements, tweaks to content to improve understanding, proper copyright marking for base mapping, guidance clarity and more. <a href="https://docs.google.com/presentation/d/15Qm4_35AnLxfZCKFmpPODlq6RkrkjSKy1oAELCzs0TM/edit?usp=sharing">More detailed documentation for iteration 8 can be found here</a></td>
          <td class="govuk-table__cell"><a href="version-8/choose.html">Iteration 8</a></td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">26/07/2021</td>
          <td class="govuk-table__cell">Changes to 'confirm location' page as a result of testing iteriation 6. Added back in checkbox to change layers displayed on results page. <a href="https://docs.google.com/presentation/d/1QjSg59e68mv-exfgFzBWDPxNSUzryUXepaXoRy30Chk/edit?usp=sharing">More detailed documentation for iteration 7 can be found here</a></td>
          <td class="govuk-table__cell"><a href="version-7/choose.html">Iteration 7</a></td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">11/06/2021</td>
          <td class="govuk-table__cell">Added a 'Check your answers' summary page to try to reinforce need for drawing a boundary. Various content changes and updates. Added extra 'benefitting from defences' journey. Added 'Only in England' error page. Added usable, pan-able maps with layers instead of images. <a href="https://docs.google.com/presentation/d/1gwu3NNvp62-BsMvYGWViw22-mKQGOPHmZeZ2Z3zBW8w/edit?usp=sharing">More detailed documentation for iteration 6 can be found here</a></td>
          <td class="govuk-table__cell"><a href="version-6/choose.html">Iteration 6</a></td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">29/10/2020</td>
          <td class="govuk-table__cell">Information layout changes to FZ3 and FZ3 pages based on feedback. FZ1 also has similar tweaks. Help and Advice has local EA details added and highlighted. <a href="https://docs.google.com/presentation/d/13_PLnYJ_uYEZ6VNHmwPBC0PCAcwqSZje0TtfSR4iKhU/edit?usp=sharing">More detailed documentation for iteration 5 can be found here</a></td>
          <td class="govuk-table__cell"><a href="version-5/choose.html">Iteration 5</a></td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">29/10/2020</td>
          <td class="govuk-table__cell">Changes to the confirm location page. Content changes to the results page. New results and confirmation pages added for flood zone 1 areas. <a href="https://docs.google.com/presentation/d/1GFEuwyqGPGjGC1asDnMP2I_XLA96FgPp7hXDyf__Hl4/edit#slide=id.g73c94f0c3c_2_242">More detailed documentation can be found here</a></td>
          <td class="govuk-table__cell"><a href="version-4/choose.html">Iteration 4</a></td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">23/02/2020</td>
          <td class="govuk-table__cell">Content changes to Start page. 'Refine search' page changed to 'Confirm your location'. Added supplementary Results/Help page for inexperienced users. <a href="https://docs.google.com/presentation/d/1kT-sYRw38eoCkQvWHyNoe1KX08Kxdxn6uaieWm71xDA/edit?usp=sharing">More detailed documentation can be found here</a></td>
          <td class="govuk-table__cell"><a href="version-3/start.html">Iteration 3</a></td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">14/01/2020</td>
          <td class="govuk-table__cell">Content changes to Start page, Refine Search page and Map/results page. <a href="https://docs.google.com/presentation/d/1jSyqDhv83IIxhJ3PKfD6uDzzzWuah59LT7aGzOWosAY/edit?usp=sharing">More detailed documentation can be found here</a></td>
          <td class="govuk-table__cell"><a href="version-2/start.html">Iteration 2</a></td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">25/11/2019</td>
          <td class="govuk-table__cell">Content changes to Start page and Map/results page. New 'Refine search' page added. Added Back buttons after 'Start' page to be consistent with GDS patterns. <a href="https://docs.google.com/presentation/d/1eSOCeacmpUkKwidi99ZsCobRMT8nT8lVP7mFKS62u_E/edit?usp=sharing">More detailed documentation can be found here</a></td>
          <td class="govuk-table__cell"><a href="version-1_5/index.html">Iteration 1.5</a></td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">07/11/2019</td>
          <td class="govuk-table__cell">Initial version created by Cathy Dutton following team workshop. <a href="https://docs.google.com/presentation/d/1cPgD2y23a_CH-TaSXW1Dqmi42kNY3GCWvXhPtAhQgPE/edit?usp=sharing">Initial changes made in Iteration 1</a></td>
          <td class="govuk-table__cell"><a href="version-1/start.html">Iteration 1</a></td>
        </tr>
      </tbody>
    </table>

    <br><br>



  </div>
</div>

{% endblock %}
