{% extends "layout.html" %}

{% block pageTitle %}
Flood map for planning
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Flood map for planning
    </h1>

    <br>

    <p>This prototype is a way of exploring ideas and is subject to change.</p>

    <br>

    <p><a href="version-5/start?results=results-fz1.html&confirmation=confirmation-fz1.html">Go to Start page (flood zone 1 Results)</a></p>

    <p><a href="version-5/start?results=results-fz3.html&confirmation=confirmation-fz3.html">Go to Start page (flood zone 3 Results)</a></p>

    <br>

    <h2 class="govuk-heading-m">
      Change log
    </h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Date</th>
          <th class="govuk-table__header" scope="col">Comments</th>
          <th class="govuk-table__header" scope="col" style="width:7em">Link</th>
        </tr>
      </thead>
      <!-- <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">28/01/2020</td>
          <td class="govuk-table__cell">Changed content of 'Refine your search' page to 'Confirm your location' based on <a href="https://docs.google.com/document/d/1pKNkEvGfzCKVqivjt4B8ooIC0xicmvTdsk8ba9sPqhQ/edit">analysis of user research.</a> Adjusted content order on Results page based on <a href="https://docs.google.com/document/d/1asm8G_ku7VnKsStQZGHdRgVrhvXsCbgdyuhp9QP0WcI/edit?usp=sharing">analysis of user research.</a></td>
          <td class="govuk-table__cell"><a href="version-5/start.html">Version 1</a></td>
        </tr>
      </tbody> -->
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">29/10/2020</td>
          <td class="govuk-table__cell">Changes to the confirm location page. Content changes to the results page. New results and confirmation pages added for flood zone 1 areas. <a href="https://docs.google.com/presentation/d/1GFEuwyqGPGjGC1asDnMP2I_XLA96FgPp7hXDyf__Hl4/edit#slide=id.g73c94f0c3c_2_242">More detailed documentation can be found here</a></td>
          <td class="govuk-table__cell"><a href="version-4/choose.html">Iteration 4</a></td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">23/02/2020</td>
          <td class="govuk-table__cell">Content changes to Start page. 'Refine search' page changed to 'Confirm your location'. Added supplementary Results/Help page for inexperienced users. <a href="https://docs.google.com/presentation/d/1kT-sYRw38eoCkQvWHyNoe1KX08Kxdxn6uaieWm71xDA/edit?usp=sharing">More detailed documentation can be found here</a></td>
          <td class="govuk-table__cell"><a href="version-3/start.html">Iteration 3</a></td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">14/01/2020</td>
          <td class="govuk-table__cell">Content changes to Start page, Refine Search page and Map/results page. <a href="https://docs.google.com/presentation/d/1jSyqDhv83IIxhJ3PKfD6uDzzzWuah59LT7aGzOWosAY/edit?usp=sharing">More detailed documentation can be found here</a></td>
          <td class="govuk-table__cell"><a href="version-2/start.html">Iteration 2</a></td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">25/11/2019</td>
          <td class="govuk-table__cell">Content changes to Start page and Map/results page. New 'Refine search' page added. Added Back buttons after 'Start' page to be consistent with GDS patterns. <a href="https://docs.google.com/presentation/d/1eSOCeacmpUkKwidi99ZsCobRMT8nT8lVP7mFKS62u_E/edit?usp=sharing">More detailed documentation can be found here</a></td>
          <td class="govuk-table__cell"><a href="version-1_5/index.html">Iteration 1.5</a></td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">07/11/2019</td>
          <td class="govuk-table__cell">Initial version created by Cathy Dutton following team workshop. <a href="https://docs.google.com/presentation/d/1cPgD2y23a_CH-TaSXW1Dqmi42kNY3GCWvXhPtAhQgPE/edit?usp=sharing">Initial changes made in Iteration 1</a></td>
          <td class="govuk-table__cell"><a href="version-1/start.html">Iteration 1</a></td>
        </tr>
      </tbody>
    </table>

    <br><br>



  </div>
</div>

{% endblock %}
