{% extends "layout.html" %}

{% block pageTitle %}
Flood map for planning
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full-width">

    <h1 class="govuk-heading-xl">
      Flood map for planning
    </h1>
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#prototyping">
            Prototyping
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#website-releases">
            Website releases
          </a>
        </li>
 <!--   <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#product4-changes">
            Product 4 changes
          </a>
        </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#decision-log">
              Decision log
            </a>
        </li>-->
      </ul>
      <div class="govuk-tabs__panel" id="prototyping">
        <h2 class="govuk-heading-l">Prototyping</h2>
        <p>Here you can find prototypes for trying new approaches to solving different problems.</p>
          
        <p>Many of the rapid prototypes were iterated on within user centred design cycles between releases.</p>

        <p>The prototypes are for usability testing with users of the service, or serve as proof of concepts for exploring approaches with subject matter experts.</p>
        
        <!-- Version Nov 2023 start -->
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-hint govuk-!-margin-bottom-0">
November 2023
</p>
<h2 class="govuk-heading-s govuk-!-padding-top-0">
  NAFRA2 results page proof of concept for the online service 
</h2>
       
<p class="govuk-body">
For stakeholder engagement, prior to full design of NAFRA2 user journey, proof of concept has been created to lay out flood results across all areas of flood with new NAFRA2 data.<p>
  <p><a href="test-2_7/resultspage" class="govuk-link">Results page POC</a></p>
    
 <!-- Version Nov 2023 end -->

         <!-- Version July pt2 2023 start -->
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-hint govuk-!-margin-bottom-0">
July part 2023
</p>
<h2 class="govuk-heading-s govuk-!-padding-top-0">
  AEP and Past floods design v2</h2>
       
<p class="govuk-body">
  <ul class="govuk-list govuk-list--bullet">
    <li>No more than three historic flood areas in a recorded flood outline map</li>
    <li>Use of a mix of hatching and colour across three flood areas in historic flood</li>
    <li>Use of a mix of hatching and colour across up to three AEP areas</li>
    <li>Content update recomendations out of user testing</li>
  </ul>  <p><a href="v2/area" class="govuk-link">Usability testing prototypes<span class="govuk-visually-hidden">for AEPs and past floods version 2</span></a></p>
    
 <!-- Version July pt2 2023 end -->

          <!-- Version July pt1 2023 start -->
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-hint govuk-!-margin-bottom-0">
July part 1 2023
</p>
<h2 class="govuk-heading-s govuk-!-padding-top-0">
  Testing different approaches to maps in Product 4</h2>
       
<p class="govuk-body">
  <ul class="govuk-list govuk-list--bullet">
    <li>four different AEP map designs</li>
    <li>three different past floods map designs</li>
    <li>tidal data across two maps for AEPs</li>
    <li>content and table changes throughout AEPs, tidal and past floods designs</li>
  </ul>
  
  <p><a href="v1/area" class="govuk-link">Usability testing prototypes<span class="govuk-visually-hidden">Simplifying AEPs, past floods, and tidal</span></a></p>    
 <!-- Version July pt1 2023 end -->
      
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="website-releases">
        <h2 class="govuk-heading-l">Website releases</h2>

     <!-- test-2-7 start -->

     <p>Here you can find details of releases to the online service.</p>
     <p>An attempt to capture iterative change to the website through different releases.</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-s govuk-!-padding-top-0">
  Testing copy for Release 2.7
</h2>

<p class="govuk-body">
Two items of work were carried out on the live service for this release, but they are not reflected in the prototype release version, as they are in sections of the service that don't apply to the prototype online service coverage:<p>

  <ul class="govuk-list govuk-list--bullet">

    <li>search results updated for duplicate name locations to return largest location of that name</li>
    <li>update to meta tags for the online service</li>

  </ul>
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Version details
      </span>
    </summary>
    <div class="govuk-details__text">

<h3 class="govuk-heading-s">
  Design changes
</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>
    Changes to come
  </li>
</ul>

<p>
  <a href="test-2_7/choose" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">Choose your 2.7 journey</a>
</p>
</div>
</details>
<!-- test-2-7 end -->
<!-- test-2-6 start -->
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-s govuk-!-padding-top-0">
  Testing copy for Release 2.6
</h2>

<p class="govuk-body">
  A completely new way to handle the prototype. Lots of conditional content, less files and a new way of versioning.
<p>
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Version details
      </span>
    </summary>
    <div class="govuk-details__text">

      <h3 class="govuk-heading-s">
        Design changes
</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>
    Changes to come
  </li>
</ul>

<p>
  <a href="test-2_6/choose" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">Choose your 2.6 journey</a>
</p>
</div>
</details>
<!-- test-2-6 end -->
{# Size modifiers: xl, l, m #}

<!-- Version 2.7 start -->
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-hint govuk-!-margin-bottom-0">
October 2023
</p>
<h2 class="govuk-heading-s govuk-!-padding-top-0">
Release 2.7
</h2>

<p class="govuk-body">
This version concentrates on further optimising the results pages based UR sessions.
<p>

<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
  Version details
</span>
</summary>
<div class="govuk-details__text">

<h3 class="govuk-heading-s">
  Changes
</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>
    TODO - Add 2.7 Version Changes
  </li>
</ul>

<p>
  <a href="release-2_7/start?results=results-fz1.html&confirmation=confirmation-fz1.html&summary=summary-fz1">Go to Start page (flood zone 1 results)</a>
</p>

<p>
  <a href="release-2_7/start?results=results-fz2.html&confirmation=confirmation-fz2.html&summary=summary-fz2">Go to Start page (flood zone 2 results)</a>
</p>

<p>
  <a href="release-2_7/start?results=results-fz3.html&confirmation=confirmation-fz3&summary=summary-fz3">Go to Start page (flood zone 3 results)</a>
</p>

<p>
  <a href="release-2_7/start?results=results-fzd.html&confirmation=confirmation-fzd.html&summary=summary-fzd">Go to Start page (Benefitting from flood defences results)</a>
</p>

</div>
</details>
<!-- Version 2.7 end -->


<!-- Version 2.6 start -->
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-hint govuk-!-margin-bottom-0">
  October 2023
</p>
<h2 class="govuk-heading-s govuk-!-padding-top-0">
  Release 2.6
</h2>

<p class="govuk-body">
  This version concentrates on further optimising the results pages based UR sessions.
<p>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Version details
    </span>
  </summary>
  <div class="govuk-details__text">

    <h3 class="govuk-heading-s">
      Changes
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        TODO - Add 2.6 Version Changes
      </li>
    </ul>

    <p>
      <a href="release-2_6/start?results=results-fz1.html&confirmation=confirmation-fz1.html&summary=summary-fz1">Go to Start page (flood zone 1 results)</a>
    </p>

    <p>
      <a href="release-2_6/start?results=results-fz2.html&confirmation=confirmation-fz2.html&summary=summary-fz2">Go to Start page (flood zone 2 results)</a>
    </p>

    <p>
      <a href="release-2_6/start?results=results-fz3.html&confirmation=confirmation-fz3&summary=summary-fz3">Go to Start page (flood zone 3 results)</a>
    </p>

    <p>
      <a href="release-2_6/start?results=results-fzd.html&confirmation=confirmation-fzd.html&summary=summary-fzd">Go to Start page (Benefitting from flood defences results)</a>
    </p>

  </div>
</details>
<!-- Version 2.6 end -->


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-hint govuk-!-margin-bottom-0">
  February 2023
</p>
<h2 class="govuk-heading-s govuk-!-padding-top-0">
  Release 2.5
</h2>

<p class="govuk-body">
  This version concentrates on further optimising the results pages based UR sessions.
<p>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Version details
    </span>
  </summary>
  <div class="govuk-details__text">

    <h3 class="govuk-heading-s">
      Changes
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        Refined content based on user feedback
      </li>
      <li>
        Attempted to better associate the download of the PDF with them map
      </li>
      <li>
        Moved the map information into a details component to remove some of the cognitive weight of the page
      </li>
      <li>
        Moving to specifically asking users to draw a boundary, removing the marker choice and tidying up associated pages of the journey. This will hopefully make for a smoother journey at both ends of the process, with less work for the business and less hassle for the user
      </li>
      <li>
        Removing references to the marker from pages, legends and ensuring journeys match up.
      </li>
      <li>
        Starting to test changes in FZ1 results to be more focussed on downloading a P1 report and being stronger on the fact that an FRA is only needed in certain circumstances.
      </li>
      <li>
        Moving the P1 Flood map for planning button to a more visible location and referencing it more specifically in the copy
      </li>
      <li>
        Rewriting all the Flood Zone results pages to make them more logical, to make next steps clearer, and to reflect the move of the P1 download button
      </li>
      <li>
        Adjustments to the design for 'Areas benefitting from defences' information due to changes in poilicy, including results, copy, map legend and more
      </li>
      <li>
        Added a Flood Zone 2 results pages as there has never been one in the prototype before.
      </li>
      <li>
        Updated the accessibility statement after issues were highligthed by the accessibility team.
      </li>
      <li>
        <a href="test-2_5/choose" class="govuk-link">Archive of the pages as they were tested for this version</a>.
      </li>
    </ul>

    <p>
      <a href="release-2_5/start?results=results-fz1.html&confirmation=confirmation-fz1.html&summary=summary-fz1">Go to Start page (flood zone 1 results)</a>
    </p>

    <p>
      <a href="release-2_5/start?results=results-fz2.html&confirmation=confirmation-fz2.html&summary=summary-fz2">Go to Start page (flood zone 2 results)</a>
    </p>

    <p>
      <a href="release-2_5/start?results=results-fz3.html&confirmation=confirmation-fz3&summary=summary-fz3">Go to Start page (flood zone 3 results)</a>
    </p>

    <p>
      <a href="release-2_5/start?results=results-fzd.html&confirmation=confirmation-fzd.html&summary=summary-fzd">Go to Start page (Benefitting from flood defences results)</a>
    </p>

  </div>
</details>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-hint govuk-!-margin-bottom-0">
  December 2022
</p>
<h2 class="govuk-heading-s govuk-!-padding-top-0">
  Release 2.4
</h2>

<p class="govuk-body">
  This is an attempt to capture how the service is after the 2.4 release. It's not a prototype, more of a resource to capture how the live was at 2.4
<p>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Version details
    </span>
  </summary>
  <div class="govuk-details__text">

    <h3 class="govuk-heading-s">
      Changes
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        This release had stuff to deal with the changes in policy to areas benefitting from defences. With not all of the design work that will go in to 2.5, but enought to makle the pages work with the changes in the way map data was presented.
      </li>
      <li>
        It also has the move to just supplying aboundary which was released as part of that work.
      </li>
    </ul>

    <p>
      <a href="release-2_4/start?results=results-fz1.html&confirmation=confirmation-fz1.html&summary=summary-fz1">Go to Start page (flood zone 1 results)</a>
    </p>

    <p>
      <a href="release-2_4/start?results=results-fz2.html&confirmation=confirmation-fz2.html&summary=summary-fz2">Go to Start page (flood zone 2 results)</a>
    </p>

    <p>
      <a href="release-2_4/start?results=results-fz3.html&confirmation=confirmation-fz3&summary=summary-fz3">Go to Start page (flood zone 3 results)</a>
    </p>

    <p>
      <a href="release-2_4/start?results=results-fzd.html&confirmation=confirmation-fzd.html&summary=summary-fzd">Go to Start page (Benefitting from flood defences results)</a>
    </p>

  </div>
</details>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-s">
  Opt out version
</h2>

<p class="govuk-body">
  Including changes that try to reduce the number of request being received post launch of the new service.
<p>

<!-- <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">

    </span>
  </summary>
  <div class="govuk-details__text">

  </div>
</details> -->

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Version details
    </span>
  </summary>
  <div class="govuk-details__text">

    <h3 class="govuk-heading-s">
      Changes
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        Added user journey for the new opt out of automatic reporting for regions.
      </li>
      <li>
        Added the information returned by OS Places API to make it clearer why the pin is located where it is - or why a location triggers the only England page.
      </li>
      <li>
        Added content changes on the flood zone 1 confirmation page to indicate that an additional email will be sent if the requested report is not available. Content in 'What happens next' subheading has also been restructured.
      </li>
      <li>
        Added bullet point to start page list stating that the service can be used to dowload a P1
      </li>
    </ul>

    <p>
      <strong>NEW:</strong> <a href="opt-out/start?results=results-fz1-no.html&confirmation=confirmation-fz1.html&summary=summary-fz1">Region opted out of automatic reporting. Go to Start page (flood zone 1 results)</a>
    </p>

    <p>
      <strong>NEW:</strong> <a href="opt-out/start?results=results-fz3-no.html&confirmation=confirmation-fz1.html&summary=summary-fz1">Region opted out of automatic reporting. Go to Start page (flood zone 3 results)</a>
    </p>

    <p>
      <a href="opt-out/start?results=results-fz1.html&confirmation=confirmation-fz1.html&summary=summary-fz1">Go to Start page (flood zone 1 results)</a>
    </p>

    <p>
      <a href="opt-out/start?results=results-fz3.html&confirmation=confirmation-fz3&summary=summary-fz3">Go to Start page (flood zone 3 results)</a>
    </p>

    <p>
      <a href="opt-out/start?results=results-fzd.html&confirmation=confirmation-fzd.html&summary=summary-fzd">Go to Start page (Benefitting from flood defences results)</a>
    </p>

  </div>
</details>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-hint govuk-!-margin-bottom-0">
  December 2021
</p>
<h2 class="govuk-heading-s govuk-!-padding-top-0">
  Iteration 9
</h2>

<p class="govuk-body">
  This iteration covered mostly tweaks to accessibilty and content as per audits and SME feedback.
<p>

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Version details
      </span>
    </summary>
    <div class="govuk-details__text">
      <h3 class="govuk-heading-m">
        Start
      </h3>

      <p><a href="version-9/start?results=results-fz1.html&confirmation=confirmation-fz1.html&summary=summary-fz1">Go to Start page (flood zone 1 results)</a></p>

      <p><a href="version-9/start?results=results-fz3.html&confirmation=confirmation-fz3&summary=summary-fz3">Go to Start page (flood zone 3 results)</a></p>

      <p><a href="version-9/start?results=results-fzd.html&confirmation=confirmation-fzd.html&summary=summary-fzd">Go to Start page (Benefitting from flood defences results)</a></p>
    </div>
  </details>
  
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<p class="govuk-hint govuk-!-margin-bottom-0">
  September 2021</p>
<h2 class="govuk-heading-s govuk-!-padding-top-0">
  Iteration 8
</h2>
<p>Several changes like accessibility improvements, tweaks to content to improve understanding, proper copyright marking for base mapping, guidance clarity and more.</p>
  

<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Version details
      </span>
    </summary>
    <div class="govuk-details__text">
   <p>Due to hold ups with the development of iteration 8 there are a few elements (especially around the modal for downloading the P1 pdf) that didn't make the final build. So there is a little bit of disparity between prototype and reality. <a href="https://docs.google.com/presentation/d/15Qm4_35AnLxfZCKFmpPODlq6RkrkjSKy1oAELCzs0TM/edit?usp=sharing" class="govuk-link">More detailed documentation for iteration 8 can be found here</a></p>
   
    
    <p><a href="version-8/choose.html" class="govuk-link">Iteration 8</a></p>
  </div>
  </details>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<p class="govuk-hint govuk-!-margin-bottom-0">
July 2021
</p>
<h2 class="govuk-heading-s govuk-!-padding-top-0">
  Iteration 7
</h2>

<p class="govuk-body">
<p>Changes to 'confirm location' page as a result of testing iteriation 6.</p>


<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Version details
    </span>
  </summary>
  <div class="govuk-details__text">
 <p>Added back in checkbox to change layers displayed on results page. <a href="https://docs.google.com/presentation/d/1QjSg59e68mv-exfgFzBWDPxNSUzryUXepaXoRy30Chk/edit?usp=sharing" class="govuk-link">More detailed documentation for iteration 7 can be found here</a></p>
  
 <p><a href="version-7/choose.html" class="govuk-link">Iteration 7</a></p>

</div>
</details>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-hint govuk-!-margin-bottom-0">
June 2021
</p>
<h2 class="govuk-heading-s govuk-!-padding-top-0">
  Iteration 6
</h2>

<p class="govuk-body">
<p>Added a 'Check your answers' summary page, extra 'benefitting from defences' journey, 'Only in England' error page, and usable, pan-able maps with layers instead of images.</p>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Version details
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>Adding a 'Check your answers' summary page is to try to reinforce need for drawing a boundary. Various content changes and updates were also applied. <a href="https://docs.google.com/presentation/d/1gwu3NNvp62-BsMvYGWViw22-mKQGOPHmZeZ2Z3zBW8w/edit?usp=sharing">More detailed documentation for iteration 6 can be found here</a></p>
  
 <p><a href="version-6/choose.html" class="govuk-link">Iteration 6</a></p>

</div>
</details>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-hint govuk-!-margin-bottom-0">
  October 2020
</p>
<h2 class="govuk-heading-s govuk-!-padding-top-0">
  Iteration 5
</h2>

<p class="govuk-body">
<p>Information layout changes to FZ3 and FZ3 pages based on feedback. FZ1 also has similar tweaks. Help and Advice has local EA details added and highlighted. <a href="https://docs.google.com/presentation/d/13_PLnYJ_uYEZ6VNHmwPBC0PCAcwqSZje0TtfSR4iKhU/edit?usp=sharing" class="govuk-link">More detailed documentation for iteration 5 can be found here</a></p>

<p><a href="version-5/choose.html" class="govuk-link">Iteration 5</a></p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-hint govuk-!-margin-bottom-0">
  October 2020
</p>
<h2 class="govuk-heading-s govuk-!-padding-top-0">
  Iteration 4
</h2>

<p class="govuk-body">
<p>Changes to the confirm location page. Content changes to the results page. New results and confirmation pages added for flood zone 1 areas. 
 <a href="/public/downloads/prototype4.pdf" class="govuk-link" download>More detailed documentation on iteration 4 can be found here (links to pdf)</a></p>

  <!--<a href="https://docs.google.com/presentation/d/1GFEuwyqGPGjGC1asDnMP2I_XLA96FgPp7hXDyf__Hl4/edit#slide=id.g73c94f0c3c_2_242" class="govuk-link">More detailed documentation can be found here</a></p>-->

<p><a href="version-4/choose.html" class="govuk-link">Iteration 4</a></p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-hint govuk-!-margin-bottom-0">
  February 2020
</p>
<h2 class="govuk-heading-s govuk-!-padding-top-0">
  Iteration 3
</h2>

<p class="govuk-body">
<p>Content changes to Start page. 'Refine search' page changed to 'Confirm your location'. Added supplementary Results/Help page for inexperienced users. 
  <a href="/public/downloads/prototype3.pdf" class="govuk-link" download>More detailed documentation on iteration 3 can be found here (links to pdf)</a></p>
  <!--<a href="https://docs.google.com/presentation/d/1kT-sYRw38eoCkQvWHyNoe1KX08Kxdxn6uaieWm71xDA/edit?usp=sharing" class="govuk-link">More detailed documentation can be found here</a></p>-->
<p><a href="version-3/start.html" class="govuk-link">Iteration 3</a></p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<p class="govuk-hint govuk-!-margin-bottom-0">
  January 2020
</p>
<h2 class="govuk-heading-s govuk-!-padding-top-0">
  Iteration 2
</h2>

<p class="govuk-body">
<p>Content changes to Start page, Refine Search page and Map/results page. 
  
  <a href="/public/downloads/prototype2.pdf" class="govuk-link" download>More detailed documentation on iteration 2 can be found here  (links to pdf)</a></p>
<!--  <a href="https://docs.google.com/presentation/d/1jSyqDhv83IIxhJ3PKfD6uDzzzWuah59LT7aGzOWosAY/edit?usp=sharing" class="govuk-link">More detailed documentation can be found here</a></p>-->

  <p><a href="version-2/start.html" class="govuk-link">Iteration 2</a></p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



<p class="govuk-hint govuk-!-margin-bottom-0">
  November 2019
</p>
<h2 class="govuk-heading-s govuk-!-padding-top-0">
  Iteration 1.5
</h2>

<p class="govuk-body">
<p>Content changes to Start page and Map/results page. New 'Refine search' page added. Added Back buttons after 'Start' page to be consistent with GDS patterns. 
  
  <a href="/public/downloads/prototype1-5.pdf" class="govuk-link" download>More detailed documentation on iteration 1.5 can be found here (links to pdf)</a></p>
  <!--  <a href="https://docs.google.com/presentation/d/1eSOCeacmpUkKwidi99ZsCobRMT8nT8lVP7mFKS62u_E/edit?usp=sharing" class="govuk-link">More detailed documentation can be found here</a></p>-->
<p><a href="version-1_5/index.html" class="govuk-link">Iteration 1.5</a></p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<p class="govuk-hint govuk-!-margin-bottom-0">
  November 2019
</p>
<h2 class="govuk-heading-s govuk-!-padding-top-0">
  Iteration 1
</h2>

<p class="govuk-body">
<p>Initial version created by Cathy Dutton following team workshop. 
  
  <a href="/public/downloads/prototype1.pdf" class="govuk-link" download>More detailed documentation on iteration 1 can be found here (links to pdf)</a></p>
  <!--  <a href="https://docs.google.com/presentation/d/1cPgD2y23a_CH-TaSXW1Dqmi42kNY3GCWvXhPtAhQgPE/edit?usp=sharing" class="govuk-link">Initial changes made in Iteration 1</a></p>-->
<p><a href="version-1/start.html" class="govuk-link">Iteration 1</a></p>




    
        <br><br>
    
    
     

      </div>

       <!--     <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="product4-changes">
        <h2 class="govuk-heading-l">Product 4 changes</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-eigth">Date</th>
              <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Comments</th>
              <th scope="col" class="govuk-table__header">Link</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">11/11/2023</td>
              <td class="govuk-table__cell">Details</td>
              <td class="govuk-table__cell">Link</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">11/11/2023</td>
              <td class="govuk-table__cell">Details</td>
              <td class="govuk-table__cell">Link</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">11/11/2023</td>
              <td class="govuk-table__cell">Details</td>
              <td class="govuk-table__cell">Link</td>
            </tr>
          </tbody>
        </table>
      </div>
    <!--  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="decision-log">
        <h2 class="govuk-heading-l">Past year</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Case manager</th>
              <th scope="col" class="govuk-table__header">Cases opened</th>
              <th scope="col" class="govuk-table__header">Cases closed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">David Francis</td>
              <td class="govuk-table__cell">1380</td>
              <td class="govuk-table__cell">1472</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Paul Farmer</td>
              <td class="govuk-table__cell">1129</td>
              <td class="govuk-table__cell">1083</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rita Patel</td>
              <td class="govuk-table__cell">1539</td>
              <td class="govuk-table__cell">1265</td>
            </tr>
          </tbody>
        </table>
      </div>
 -->  


</div>



   



</div>

{% endblock %}
