
{% extends "layout-footer.html" %}

{% block pageTitle %}
  Flood risk information for planning - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">
          Name 5
        <p>

        <h1 class="govuk-heading-xl">
          Get a flood report for a planning application
        </h1>

        <a href="names" class="govuk-link">All the names</a>

      </div>

      <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        {# <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="https://flood-warning-information.service.gov.uk/warnings">
                  Check your immediate flood risk
                </a>
              </li>
              <li>
                <a class="govuk-link" href="https://flood-warning-information.service.gov.uk/5-day-flood-risk?_ga=2.203237463.77474540.1572345023-902236253.1554453719&_gac=1.158934600.1570532269.CjwKCAjw5_DsBRBPEiwAIEDRW7EfP37Wg2AzLlBkZNTpdinb3-amc1875cjdwiLaU-qXZCN8vsz9VhoC2QUQAvD_BwE">
                  Check your flood risk for the next 5 days
                </a>
              </li>
              <li>
                <a href="https://flood-warning-information.service.gov.uk/long-term-flood-risk?_ga=2.127667275.77474540.1572345023-902236253.1554453719&_gac=1.124390008.1570532269.CjwKCAjw5_DsBRBPEiwAIEDRW7EfP37Wg2AzLlBkZNTpdinb3-amc1875cjdwiLaU-qXZCN8vsz9VhoC2QUQAvD_BwE" class="govuk-link govuk-!-font-weight-bold">
                  Check your long-term flood risk
                </a>
              </li>
              <li><a href="https://www.planningportal.co.uk/" class="govuk-link govuk-!-font-weight-bold">Planning portal </a></li>
            </ul>
          </nav>
        </aside> #}

      </div>

    </div>

  </div>

</div>

{% endblock %}
