
{% extends "layout_p4.html" %}
{% block pageTitle %}
  Flood risk information
{% endblock %}


{% block content %}


<h2 class="govuk-heading-m">
  Modelled data 
</h2>

<p>
  This section provides details of different scenarios we have modelled and includes the following (where available): 
</p>


<ul class="govuk-list govuk-list--bullet">
  <li>outline maps showing the area at risk from flooding in different modelled scenarios</li>
  <li>modelled node point map(s) showing the points used to get the data to model the scenarios and table(s) providing details of the flood risk for different return periods</li>
  <li>maps and tables showing the modelled flood levels and flows for a number of annual exceedance probabilities from rivers and the sea in any given year.</li>
</ul>

<h2 class="govuk-heading-m">
  Climate change 
</h2>

<p>
  The climate change data included in the models may not include the latest flood risk assessment climate change allowances. Where the new allowances are not available you will need to consider this data and factor in the new allowances to demonstrate the development will be safe from flooding. 
</p>

<p>
  The Environment Agency will incorporate the new allowances into future modelling studies. 
</p>

<p>For now, it's your responsibility to demonstrate that new developments will be safe in flood risk terms for their lifetime. </p>

<h2 class="govuk-heading-m">
  Modelled scenarios 
</h2>

<p>
  The model name and year it was produced for each scenario is given in each map and table title.  The scenarios are: 
</p>


<ul class="govuk-list govuk-list--bullet">
  <li>defended modelled fluvial: risk of flooding from rivers where there are flood defences</li> 

  <li>defences removed modelled fluvial: risk of flooding from rivers where flood defences have been removed</li> 
  
  <li>no defences exist modelled fluvial: risk of flooding from rivers where there are no flood defences</li> 
  
  <li>defended climate change modelled fluvial: risk of flooding from rivers where there are flood defences, including estimated impact of climate change</li> 
  
  <li>defences removed climate change modelled fluvial: risk of flooding from rivers where flood defences have been removed, including estimated impact of climate change</li> 
  
  <li>no defences exist climate change modelled fluvial: risk of flooding from rivers where there are no flood defences, including estimated impact of climate change</li> 

</ul>


<h3 class="govuk-heading-s">
  Figure 1. Defended modelled fluvial flood extents from Ravensbourne, 2015 model for 0.1% to 5% annual exceedance probabilities (AEPs)
</h3>
<img src="/public/images/AEP0.1-5map.png" alt="Map of AEPs 0.1, 1, 0.5 and 5 percent" style="max-width: 100%;">
</br></br></br>

<h3 class="govuk-heading-s">
  Figure 2. Defended modelled fluvial node location map for Ravensbourne, 2015 model with site location 
</h3>
<img src="/public/images/AEPnodemap.png" alt="Nodemap" style="max-width: 100%;">
</br></br></br>
<h3 class="govuk-heading-s">
Table 1. Defended modelled fluvial flood levels from Ravensbourne, 2015 in metres above Ordnance Datum (m AOD)  
</h3>
<p>NoData means for this model the return period has been modelled but there is no flood risk for the location.</p>
<img src="/public/images/AEPtable1.png" alt="table1" style="max-width: 100%;">
</br></br></br>
<h3 class="govuk-heading-s">
Table 2. Defended modelled fluvial flood flows fromRavensbourne, 2015 model in cumecs (m3/s)  
</h3>
<p>NoData means for this model the return period has been modelled but there is no flood risk for the location.</p>
<img src="/public/images/AEPtable2.png" alt="Table2" style="max-width: 100%;">

{% endblock %}
