
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Get the flood risk assessment maps for your planning application</h1>

        <p class="govuk-body">For the area you have selected you will need to:
        </p> 

        <ul class="govuk-list govuk-list--bullet">
          <li>download a <a href="#" class="govuk-link">product 1 map</a> </li> 
          <li>request a <a href="/contact" class="govuk-link">product 4 map</a></li> 
        </ul>

        {# <h3 class="govuk-heading-s">Get maps for this location</h3> #}
       
        {# <p class="govuk-body">Use these products of map information to help you complete your flood risk assessment</p> #}

        <h3 class="govuk-heading-s">Product 1: </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Flood zones</li>
          <li>Defences and storage areas</li> 
          <li>Areas benefiting from flood defences</li> 
        </ul>
        <a href="#" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
        Download
        </a> 
 

        <h3 class="govuk-heading-s">Product 4: </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Historic flood event outlines </li>
          <li>Detailed information from our computer river models (including model extent, 
          information on one or more specific points, flood levels, flood flows)</li>  
        </ul>
        <a href="/contact" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
        Request a Product 4
        </a> 



{# 
        <h3 class="govuk-heading-s">Terms of use </h3>
        <p class="govuk-body">Flood zone maps are modelled using local and national river and sea data. This 
        information provides an indication of the likelihood of flooding and is intended for 
        planning use only. </p> #}
{# 
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            I'm not sure which product to choose
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">Read the guidance on preparing a flood risk assessment: </p>
          </div>
        </details> #}

      </div>


    </div>
  </main>
</div>

{% endblock %}
