
{% extends "layout_p4.html" %}
{% block pageTitle %}
  Flood risk information
{% endblock %}


{% block content %}

<div class="p4-header">

  <h1 class="govuk-heading-l govuk-!-font-size-24 p4-title">
    Flood risk information
  </h1>

  <div class="p4-logo">
    <a href="/" class="govuk-header__link govuk-header__link--homepage">
      <img src="/public/images/ea-logo.png" alt="Environment Agency logo">
    </a>
  </div>
</div>

<div class="p4-box">
  <p class="govuk-!-font-size-16">
    <strong>Location of site:</strong> 332203 / 443808 (shown as easting and northing coordinates)<br />
    <strong>Document created on:</strong> 9 April 2021.
  </p>
</div>

<p class="govuk-body">
  <strong>This document was previously known as a product 4.</strong>
<p>

<h2 class="govuk-heading-m">
  How to use this information
</h2>

<p>
  You can use this information as part of a flood risk assessment for a planning application. To do this, you should include it in the appendix of your flood risk assessment.
</p>

<div class="p4-callout">
  <p>
    We recommend that you work with a flood risk consultant to get your flood risk assessment.
  </p>
</div>

<h2 class="govuk-heading-m">
  About the models used
</h2>

<p>
  Model name: Burn Drain 2005<br />
  Scenario(s): Defences removed fluvial, defences removed climate change fluvial<br />
  Date: 1 June 2005
</p>

<p>
  Model name: Hillylaid Pool 2013<br />
  Scenario(s): Defended fluvial<br />
  Date: 1 February 2012
</p>

<p>
  Model name: Wyre Estuary_Tidal 2014<br />
  Scenario(s): Defended tidal, defences removed tidal, defended climate change tidal, defences removed climate change tidal<br />
  Date: 30 July 2014
</p>

<p>
  These models contain the most relevant data for your area of interest.
</p>

<h2 class="govuk-heading-m">
  Included in this document
</h2>

<p>
  In this document you'll find:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>how to find information about surface water and other sources of flooding</li>
  <li>flood map for planning (rivers and the sea)</li>
  <li>information to help you assess if there is a reduced flood risk from rivers and the sea because of defences</li>
  <li>historic flooding</li>
  <li>flood defences and attributes</li>
  <li>modelled data</li>
  <li>climate change</li>
  <li>information about strategic flood risk assessments</li>
  <li>information about this data</li>
  <li>information about flood risk activity permits</li>
  <li>definitions for the terminology used throughout</li>
  <li>help and advice</li>
</ul>

<h2 class="govuk-heading-m">
  Surface water and other sources of flooding
</h2>

<p>
  Use the <a href="https://check-long-term-flood-risk.service.gov.uk/map?easting=362062.26&northing=387296.02&map=SurfaceWater" class="govuk-link">long term flood risk service to find out about the risk of flooding from</a>:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>surface water</li>
  <li>ordinary watercourses</li>
  <li>reservoirs</li>
</ul>

<p>
  For information about sewer flooding, contact the relevant water company for the area.
</p>

<h2 class="govuk-heading-m">
  Flood map for planning (rivers and the sea)
</h2>

<p>
  Your development is in flood zone 3.
</p>

<p>
  Flood zone 3 shows the area at risk of flooding for an undefended flood event with:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>a 0.5% chance of occurring in any year for flooding from the sea</li>
  <li>a 1% chance of occurring in any year for fluvial (river) flooding</li>
</ul>

<p>
  It's important to remember that:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>the flood zones on this map refer to the land at risk of flooding and do not refer to individual properties</li>
  <li>this data is updated on a quarterly basis as better data becomes available</li>
</ul>

<h2 class="govuk-heading-m">
  Flood defences, attributes and modelled water levels
</h2>

<p>
Where available, this document includes information about:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>flood defences</li>
  <li>flood defence attributes</li>
  <li>modelled water levels</li>
</ul>

<p>
  This information will help you assess if there is a reduced flood risk for this location because of defences.
</p>

{% endblock %}
