
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Refine your search</h1>


        <p class="govuk-body">To refine your search you can either:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>move the marker on the map to identify a specific location.
          </li>
          <li>draw a shape on the map to mark out a site boundary.
          </li>
        </ul>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            How to draw a shape
            </span>
          </summary>
          <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>select 'Draw shape'</li>
            <li>select a second point on the boundary - you will see a line drawn between the first two points </li>
            <li>keep adding points until the boundary is defined</li>
            <li>double click or tap when you return to your first point</li>
            <li>edit the finished shape by dragging the points</li>
            <li>add more points to a shape by clicking or tapping on a line</li>
          </ul>
          </div>
        </details>


        <div id="map" class="map">
          <!-- <button class="mapToolBtn" id="drawShapeBtn">Draw shape</button> -->
          <!-- <button class="mapToolBtn" id="markerBtn">Marker</button> -->
          <div class="govuk-form-group markerCheckboxContainer">
            <fieldset class="govuk-fieldset">
              <div class="govuk-checkboxes govuk-checkboxes--small">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="shapeCheckbox" name="shapeCheckbox" type="checkbox" value="Draw shape">
                  <label class="govuk-label govuk-checkboxes__label" for="shapeCheckbox">
                    Draw shape
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>


        <!-- <img src="/public/images/c057qg.png" class="govuk-image" alt="Examplem map">
        <p></br></p> -->

        <a href="/results" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
            Continue
          </a>

      </div>

      <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        {# <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="https://flood-warning-information.service.gov.uk/warnings">
                  Check your immediate flood risk
                </a>
              </li>
              <li>
                <a class="govuk-link" href="https://flood-warning-information.service.gov.uk/5-day-flood-risk?_ga=2.203237463.77474540.1572345023-902236253.1554453719&_gac=1.158934600.1570532269.CjwKCAjw5_DsBRBPEiwAIEDRW7EfP37Wg2AzLlBkZNTpdinb3-amc1875cjdwiLaU-qXZCN8vsz9VhoC2QUQAvD_BwE">
                  Check your flood risk for the next 5 days
                </a>
              </li>
              <li>
                <a href="https://flood-warning-information.service.gov.uk/long-term-flood-risk?_ga=2.127667275.77474540.1572345023-902236253.1554453719&_gac=1.124390008.1570532269.CjwKCAjw5_DsBRBPEiwAIEDRW7EfP37Wg2AzLlBkZNTpdinb3-amc1875cjdwiLaU-qXZCN8vsz9VhoC2QUQAvD_BwE" class="govuk-link govuk-!-font-weight-bold">
                  Check your long-term flood risk
                </a>
              </li>
              <li><a href="https://www.planningportal.co.uk/" class="govuk-link govuk-!-font-weight-bold">Planning portal </a></li>
            </ul>
          </nav>
        </aside> #}

      </div>
    </div>
  </main>
</div>

{% endblock %}
